<html>
	<head>

		{% if title %}
		<title> {{title}} </title>
		{% else %}
		<title> second {{title}} </title>
		{% endif %}

	</head>

	<body>

		<div>
			Blog:
			<a href="{{ url_for('index') }}">Index </a>
			<a href="{{ url_for('login') }}">Login </a>
		</div>


		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}


		{% block base_content %} {% endblock %}

	</body>

</html>